.home-upper{
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  background-image: url('../../Layout/partials/images/imagemeta7.jpg');
  background-size: cover;        
  background-repeat: no-repeat;  
  background-position: center;
  padding-top: 100px;
  border-radius: 30px; 
}
.home-left {
    font-size: 70px;
    font-weight: 500;
    width: 50%;
    padding-top: 200px;
    padding-left: 250px;
    color: #fff;
    
}
.home-left > p {
    font-size: 40px;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    padding-top: 30px;
    border: none;
}
.btn-home{
    height: 60px;
    width: 130px;
    font-size: 20px;
    color: #fff;
    border-radius: 10px;
    background-color: #310140;
}
.btn-home:hover{
    background-color: #fff;
    color: #310140;
}
.home-middle{
    display: flex;
    flex-direction: row;
}
.home-middle-right{
    width: 50%;
    padding-left: 150px;
    padding-top: 40px;
    border-radius: 20px;
    background: transparent;
}
.home-middle-left{
    width: 50%;
    padding-left: 80px;
    padding-top: 40px;
    border-radius: 20px;
    background: transparent;
} 
.home-middle-center{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 40px;
}
.home-lower{
  display: flex;
  padding: 20px 100px 100px 100px ;
  justify-content: space-between;
    /* background-color: #310140; */
    
}
.home-lower-left{
    width: 30%;
}
.card {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(49, 1, 64);
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card > img {
    background-image: url('../../Layout/partials/images/imagemeta8.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 0.3s ease;
  }
  
  .card-body {
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(49, 1, 64);
    color: white;
    padding: 15px;
    /* transition: background 0.3s ease; */
  }
  
  .card:hover .card-body {
    background: rgba(0, 0, 0, 0.7);
  }
  
  .card-text {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
  }
  